.about {
  padding-top: 94px;

  &.container {
    display: flex;
    flex-direction: column;
  }
}

.about-list {
  display: flex;
  align-items: center;

  &-item:not(:last-child) {
    margin-right: 30px;
  }
}

.about-list-item:not(:last-child) {
  margin-right: 30px;
}

.about-list-item-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color-black);
  padding-bottom: 10px;
}



.about-list-item-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--accent-color-grey);
  width: 260px;
}

.about-title,
.command-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--accent-color-black);
  margin-bottom: 50px;
}

.about-title-list {
  display: flex;
}

.about-title-list-item{
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.about-icon {
  width: 70px;
  height: 70px;
}

.about-icon-container {
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 25px 102px;
}

.about-title-list {
  position: relative;
}

.about-text-overlay {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color-white);
  background: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
}
