.about-icon-container {
  padding: 25px 192px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.about-icon {
  width: 70px;
  height: 70px;
}

.about-list-item-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.about-list-item-text {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .about-list-item:not(:last-child) {
    margin-bottom: 30px;
  }

  .about-list-item-title {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .about-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  .about-list-item {
    flex-basis: calc(100% / 3 - 15px);
    margin: 15px;
  }

  .about-icon-container {
    padding: 25px 142px;
  }
}

@media screen and (min-width: 1200px) {

  .about {
    padding-bottom: 0;
  
    &.container {
      display: flex;
      flex-direction: column;
    }
  }
  
  .about-list {
    display: flex;
    align-items: center;
  
    &-item:not(:last-child) {
      margin-right: 30px;
    }
  }
  
  .about-list-item-text {
    width: 260px;
  }
  
  .about-icon {
    width: 70px;
    height: 70px;
  }
  
  .about-icon-container {
    padding: 25px 102px;
  }
}
