

@media screen and (min-width: 320px) and (max-width: 1199px ) {
.about-img-container {
  display: none;
}
}

@media screen and (min-width: 1200px) {
  .about-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--accent-color-black);
    margin-bottom: 50px;
  }

  .about-title-list-item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  .about-title-list {
    display: flex;
    position: relative;
  }

  .about-text-overlay {
    position: absolute;
    bottom: 0;
    width: 370px;
    height: 70px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-color-white);
    background: rgba(47, 48, 58, 0.8);
    padding-top: 27px;
  }

  .about-img {
    width: 370px;
    height: 294px;
  }
}
