.about-list {
  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.about-list-item-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color-black);
  padding-bottom: 10px;
}

.about-list-item-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--accent-color-grey);
}

.about-icon {
  width: 70px;
  height: 70px;
}

.about-icon-container {
  width: 450px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 25px 192px;
}

@media screen and (min-width: 768px) {
  .about-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .about-icon-container {
    width: 354px;
    height: 120px;
    padding: 25px 144px;
  }

  .about-list-item-text {
    width: 354px;
    height: 75px;
  }
}

@media screen and (min-width: 1200px) {


  .about {
    padding-bottom: 0;

  }

  .about-list-item:not(:last-child) {
    margin-right: 30px;
  }

  .about-list-item-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-color-black);
    padding-bottom: 10px;
  }

  .about-list-item-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--accent-color-grey);
    width: 270px;
  }

  .about-icon-container {
    width: 270px;
    height: 120px;
    background: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
    padding: 25px 100px;
  }
}
