:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  --accent-color-white: #ffffff;
  --accent-color-black: #212121;
  --accent-color-blue: #2196f3;
  --accent-color-grey: #757575;
}
